<% if (!error) {%>
<div class="card">
    <div class="card-header">
        <center><b><%- data._id %></b></center>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <b>Title: </b>
                <span class="badge badge-info"><%- data.title %></span>
            </li>
            <li class="list-group-item">
                <b>Description: </b>
                <span><%- data.description %></span>
            </li>
            <li class="list-group-item">
                <b>Tag: </b>
                <span class="badge badge-primary badge-pill"><%- data.tag %></span>
            </li>
        </ul>
    </div>
    <div class="card-footer">
        <b>Created At: </b><%- data.createdAt %>
        <hr>
        <b>Created At:</b> <%- data.updatedAt %>
    </div>
</div>
<% } else {%>
<div class="list-group">
    <a href="/v1/task/all" class="list-group-item list-group-item-action list-group-item-warning"><%- error %></a>
</div>
<% } %>